.grid{
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
}

.addprofilebutton{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 10px;
}

.item-1{
  grid-column: 1/ span 2;
}

.item-4{
  grid-column: 1/ span 2;
} 

@media (min-width: 480px){
  .grid{
    width: 80%;
    grid-template-columns: auto 150px;
  }
  .item-1{
    grid-column: auto;
  }
  .item-4{
    grid-column: auto;
  }
}