
.backgroundImg{
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  object-fit: cover;
  height: 50%
}

.backgroundImgEnd{
  display: none;
  position: absolute;
  transform: rotate(180deg);
  right: 0;
  bottom: 0;
  width: 100%;
  object-fit: cover;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    align-self: center;
  
    > div {
        width: 80%;
        position: relative;
    }
    
}


.button{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 10px;
  z-index: 99;
}

@media (min-width: 480px){
  .backgroundImg{
    height: 30%;
    object-fit: fill;
    width: 50%;
  }
  .backgroundImgEnd{
    display: block;
    height: 30%;
    object-fit: fill;
    width: 50%;
  }
  .container{
    > div {
      width: 30%
    }
  }
  .button{
    position:static;
    width: 100%;
    margin: 8px 0;
  }
}