.container {
  padding: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.addProfileButton{
    position: fixed;
    bottom: 0;
    left: 0;
    right:0;
    margin: 10px;
}

.pagination{
  align-self: center;
}


@media (min-width: 480px) {
  .container{
    padding-bottom: 0px;
  }
  .addProfileButton{
    position: absolute;
    bottom: auto;
    left: auto;
    top: 0;
    width: 200px;
  }
  .grid{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px
  }
}