.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-weight: bold;
    margin: 10px 0;
    font-size: 1.1rem;
}

.subtitle{
    text-align: center;
}